body {
    width: 100%;
    margin: 0;
  }
  
  .menu {
    position:fixed;
    padding-top: 10px;
    margin-top: 0px;
    width: 240px;
    background-color: black;
    height: 100vh;
  }
  
  .menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: antiquewhite;
    display: flex;
  }
  
  .menu a:hover {
    background-color: blueviolet;
  }
  
  .menu ul {
    margin-left: -25px;
  }
  
  .menu li {
    display: table-cell;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-align: left;
    width: 200px;
    height: 45px;
    margin-left: 10px;
    padding-right: 16px;
    margin-left: 2px;
    padding-left: 10px;
    background-color: black;
    vertical-align: middle;
    display: flex;
    align-items: center;
  }
  
  .menu span {
    padding-top: 20px;
    padding-right: 20px;
  }


  